:root {
  --background: #f0f0f0;
  --text: #333;
  --primary: blue;
  --secondary: grey;
}

[data-theme="dark"] {
  --background: #121212;
  --text: #f0f0f0;
  --primary: #1e90ff;
  --secondary: #1f1f1f;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
}
